<div class="home-container">
    <%= link_to "Logout", logout_path, class: 'smaller corner'%>
    <div class='user-container'>
        <h1>Success! You made a recommendation to, <%= @currentrecommendation.requestor_name %></h1>
    </div>
</div>