<div class="home-container">
    <div class="top-buttons">
        <%= link_to "Home", home_path, class: 'smaller'%>
        <%= link_to "Logout", logout_path, class: 'smaller'%>
    </div>
    <div class='user-container'>
        <h1>No AUX Available :(</h1>
    </div>
</div>