// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 { 
    font-family: "Avenir Next";
    font-size: 32px; 
}

h3 {
  font-family: "Avenir Next";
}

nav ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  height: 400px;
  width: 900px;
  overflow: hidden;
  overflow-y: scroll;
}

ul li {
  border: 3px solid black;
  margin-top: -1px; /* Prevent double borders */
  background-color: white;
  padding: 12px;
  font-size: 12px;
  font-family: "Avenir Next";
}

.h1-title { 
  font-family: "Avenir Next";
  font-weight: bold;
  font-size: 80px; 
  padding: 20px;
}

.h3-history {
  font-family: "Avenir Next";
  font-weight: bold;
  font-size: 20px; 
  margin-top: 50px;
}

.h3-title { 
  font-family: "Avenir Next";
  font-weight: bold;
  font-size: 20px; 
  padding: 5px;
}

.top-buttons {    
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100vw;
}

.corner {
  align-self: flex-end;
  margin-top: 15px;
}

.left-corner {
  align-self: flex-start;
  margin-top: 15px;
}

.img-circle {
  border-radius: 50%;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.recommendee-recommended-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.recommended-box-container {
  border: 3px solid black;
  border-radius: 5px; 
  height: 400px;
  width: 800px;
  padding: 20px; 
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction:column
}

.choice-container {
  height: 200px;
  width: 1000px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.url-container {
  border: 3px solid black;
  border-radius: 5px; 
  height: 10%;
  width: 600px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.recommendee-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60vh;
    
}

.song-input {
  width: 50vw;
  border: 3px solid black;
  border-radius: 5px; 
  height: 30px;
}

.user-container {
  border: 3px solid black;
  border-radius: 5px; 
  height: 200px;
  width: 60%;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100vh;
}

%default-button {
    border: 3px solid black;
    border-radius: 5px; 
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-family: "Avenir Next";
}

.larger {
  @extend %default-button;
  font-size: 32px;
  font-weight: 600;
  padding: 22px 42px;
  border: 5px solid black;
  border-radius: 5px; 
}

.medium {
  @extend %default-button;
  font-size: 15px;
  padding: 15px 32px;
}

.smaller {
  @extend %default-button;
  padding: 12px 24px;
  font-size: 12px;
  border: none;
}

.loading {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}
