// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Custom bootstrap variable

.h1-title { 
    font-family: "Avenir Next";
    font-weight: bold;
    font-size: 100px; 
    padding: 20px;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
    
}

.default-button {
    border: 5px solid black;
    border-radius: 5px; 
    color: black;
    padding: 22px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    font-family: "Avenir Next";
    font-weight: 600;
}

.image {
    height: 100px;
    width: 100px;
}